*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:"Source Sans Pro";
    }
.header{
    height: 80px;
    position: relative;
   
}
.header .left{
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
}
.header .left .logo{
    width: 15%;
    height: 100%;
    position:absolute;
    left: 0;
    
}
.header .left .logo img{
   display: block;
    margin:12px auto;
    
}
.header .left .menu{
    height: 100%;
    width: 85%;
    position: absolute;
    right: 0;
   
}
.header .left .menu ul{
     list-style-type: none;
    
}
.header .left .menu ul li{
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    padding: 30px 15px;
}
.header .left .menu ul li:hover{
    background-color: #04aa6d;
    color: white;
}
.header .right{
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    text-align: right;
    padding: 0 20px;
}
.btn4{
    width: 150px;
     margin: 20px ;
    padding: 10px 25px;
    border-radius: 30px;
    font-size: 18px;
     background-color: #04aa6d;
    color: white;
    text-align: center;
    display: inline-block;
    font-weight: bold;
}
.btn4:hover{
    background-color: black;
    color: #04aa6d;
}
.right i , .right span{
    margin-right: 30px;
    font-size: 20px;
    font-weight: bold;
}
.section1{
     height: 550px;
    background-color: #282a35;
    position: relative;

}
.section1 .left{
     width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    padding: 100px;
    text-align: center;
    
}
.section1 .left H1{
    font-size: 110px;
    font-weight: bold;
    color: white;
   
}
.section1 .left p{
     font-size: 19px;
    font-weight: bold;
    color: white;
    margin-top: 10px;
    
}
.btn1 , .btn2{
    width: 200px;
    margin: 20px auto;
    padding: 10px 25px;
    border-radius: 30px;
    font-size: 18px;
    
}
.btn1{
    background-color: #04aa6d;
    color: white;
}
.btn2{
    background-color: white;
}
.btn1:hover{
    background-color: white;
    color: #04aa6d;
}
.btn2:hover{
     background-color:#04aa6d ;
    color:white;
}
.section1 .right{
     width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    }
.section1 .right .container{
    background-color: #e7e9eb;
    width: 580px;
    height: 400px;
    margin: 70px auto;
    border-radius: 7px;
    padding:30px 10px; 
}
.code{
    width: 540px;
    height: 240px;
    background-color: white;
    margin:15px auto;
    border-left: 5px solid #04aa6d;
    padding: 10px;
}
.btn3{
    width: 200px;
     margin: 20px ;
    padding: 10px 25px;
    border-radius: 30px;
    font-size: 18px;
     background-color: #04aa6d;
    color: white;
    text-align: center;
}

